.modelthree_contianer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model_wrapper >.black{
    color: black;
}

.model_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.modelthree_content {
    width: 70%;
    height: 20%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


@media screen and (max-width: 350px) {

 .modelthree_content {
    width: 70%;
    height: 32%;
    background-color: white;
}
}
