
/*Header*/
header{
  margin-top: 1rem;
}


/*hero*/
.hero{
display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 2rem;
}

.left{
  width: 500px;
  height: 350px;
  position: relative;
}
.left::before{
  content: "";
  position: absolute;
 width: 500px;
  height: 330px;
    border-radius:12px ;
  -webkit-border-radius:12px ;
  -moz-border-radius:12px ;
  -ms-border-radius:12px ;
  -o-border-radius:12px ;
  background-color: #4a4a4a;
}
.left img {
  width: 100%;
  border-radius:12px ;
  -webkit-border-radius:12px ;
  -moz-border-radius:12px ;
  -ms-border-radius:12px ;
  -o-border-radius:12px ;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

.left img:hover {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

.right{
  width: 500px;
  height: 200px;
}

.right p{
    font-size: 21px;
}

@media screen and (max-width: 1150px) {
  .hero{
  align-items: flex-start;
}
 .left::before{
  width: 423px;
  height: 270px;
 }
}

@media screen and (max-width: 1114px) {
.hero{
  align-items: center;
  flex-direction: column;
}

.left::before{
  content: "";
  position: absolute;
 width: 500px;
  height: 330px;}
}


@media screen and (max-width: 692px) {
  .hero{
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.left::before{
  content: "";
  position: absolute;
 width: 280px;
  height: 190px;
}

.left{
  width: 280px;
  height: max-content;
  position: relative;
}

.right{
  width: 250px;
}
.right p {
    font-size: 18px;

}

}

/*hero two*/

.coffee_image{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 8rem;
    position: relative;
}

.more{
  position: absolute;
  right: 80px;
  font-weight: bold;
  font-size: 18px;
}

.more svg {
  color:black;
  position: relative;
  top: 3px;
}

.center {
  width: 300px;
  height: auto;
  position: relative;
}

.center img {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  z-index: 7777;
}
.center:hover .overlay {
  opacity: .7;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width : 992px) {
  .more{
  position: absolute;
  right: 30px;
  font-weight: bold;
  font-size: 18px;
}
.coffee_image{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 8rem;
    position: relative;
    flex-wrap: wrap;
}
}
/*hero two*/


.hero_hjj{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 5rem;
  padding: .5rem;
  gap: 2rem;
  flex-wrap: wrap;
 
}

.hero_hjj_image{
 width: 450px;
}
.hero_hjj_image img{
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.hero_hjj_image img:hover { filter: grayscale(0%); -webkit-filter: grayscale(0%); border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px;
}
.hero_hjj p{
  width: 300px;
  font-size: 21px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: .5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.social{
  background-color: #4a4a4a;
  color: white;
  font-size: 21px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: .8rem;
  margin: 3rem auto;
  margin-top: 3rem;
}



.hero_hjj span {
  color: #4a4a4a;
  font-weight: bold;
}

@media screen and (max-width : 692px) {
  .hero_hjj_image{
 width: 550px;
}

.hero_hjj p{
  width: 300px;
  font-size: 18px;
}

}




/*Header*/


