:root{
  --primary-color:#4a4a4a;
  --transition: all 500ms ease;
  --contianer-width-lg: 80%;
    --contianer-width-md: 90%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--color-primary);
  color: var(--color-gray-200);
font-family: 'Shantell Sans', cursive;
  overflow-x: hidden;
  line-height: 1.7;
}

svg{

}

.contianer {
  width: var(--contianer-width-lg);
  max-width: 1920px;
  margin: 0 auto;
}


html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;

  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  color: var(--color-gray-100);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  background-color: var(--color-primary);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}


.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: .4rem 1.2rem;
  font-size: .9rem;
}

section {
  margin-top: 5rem;
}

.section_head {
  display: flex;
  align-items: center;
  gap: .5rem;
}

